# IntelliJ IDEA
.idea/
*.iml
out/

# Java and Maven
target/
*.class

# Logs
*.log

# System
.DS_Store
Thumbs.db

# Build
build/

# Backup
*.bak

# Temporary
*.tmp

# Maven Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd